:root {
    --primary: #3B71CA;
    --secondary: #e5e5e5;
    --paragraph:#616B7E;
    --success: #28a745;
    --warning: #ffc107;
    --danger: #dc3545;
    --info:#17a2b8;
    --light: #f8f9fa;
    --dark:#343a40;
    --dull:#000;
    --main:'NafeesWeb', sans-serif; 
  }
  
  @font-face {
    font-family: 'NafeesWeb';
    src: url('/src/Fonts/NafeesWeb.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  body {
    font-family: 'Nafees Web', sans-serif;
  }
  